nav{
    background-color: #EAF2E3;
}
.far {
    color: #FF5733;
    margin-left: 1rem;
}
span {
    color: #581845;
}
li{
    list-style: none;
}
.nav-link{
    color: #900C3F;
}
.about{
    background-color: #FF5733;
    color: white;
    padding: 2rem;
}
.card-img{
  object-fit: cover;
  width: 100;
  height: 20rem;
}
.card-title{
    background-color:rgba(144,12,63,0.8);
    padding: 0.5rem;
    width: 70%;
}
.card-text {
    background-color:rgba(199,0,57,0.8);
    color: white;
    padding: 0.5rem;
    width: 60%;
}
.jumbotron{
    background-color: rgba(255, 195, 0, 0.8);
}

.title-brazil{
    color: #581845;
    margin-top: 2rem;
}
.text-brazil{
    color: #900C3F;
    margin-right: 2rem;
    margin-bottom: 2rem;
}