
.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.img-square-wrapper{
    margin-top: 1rem;
    margin-left: 1rem;
}
.img-square-wrapper:hover{
	transform: scale(1.1);
}

/* .card-footer:last-child{
    margin-left: 10rem;
} */

.card-footer i {
    margin-left: 0.5rem;
}
.card-group{
    margin-left: 1rem;
}
.form-body{
    padding: 3rem;
} 

.button{
    text-align: right;
}

.footer-body{
    margin-left: 3rem;
}

.card-body1{
    margin: 0;
}

