nav{
    background-color: #EAF2E3;
}
.far {
    color: #FF5733;
    margin-left: 1rem;
}
span {
    color: #581845;
}
li{
    list-style: none;
}
.nav-link{
    color: #900C3F;
}
.about{
    background-color: #FF5733;
    color: white;
    padding: 2rem;
}
.card-img{
  object-fit: cover;
  width: 100;
  height: 20rem;
}
.card-title1{
    background-color:rgba(144,12,63,0.8);
    padding: 0.5rem;
    width: 70%;
}
.card-text1 {
    background-color:rgba(199,0,57,0.8);
    color: white;
    padding: 0.5rem;
    width: 60%;
}
.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}
.title-brazil{
    color: #581845;
    margin-top: 2rem;
    margin-left: 2rem;
}
.text-brazil{
    color: #900C3F;
    margin-left: 2rem;
    margin-bottom: 2rem;
}

.imgBrazil{
    background: 50% 50% no-repeat;
  width: 13rem;
  height: 13rem;
}
.img-square-wrapper:hover{
    transform: scale(1.1);
}
.text-muted{
    margin-left: 2rem;
}
.fas{
    color: #FF5733;
}