nav{
    background-color: #EAF2E3;
}
.far {
    color: #FF5733;
    margin-left: 1rem;
}
span {
    color: #581845;
}
li{
    list-style: none;
}
.nav-link{
    color: #900C3F;
}
.about{
    background-color: #FF5733;
    color: white;
    padding: 2rem;
}
.card-img{
  object-fit: cover;
  width: 100;
  height: 20rem;
}
.card-title1{
    background-color:rgba(144,12,63,0.8);
    padding: 0.5rem;
    width: 70%;
}
.card-text1 {
    background-color:rgba(199,0,57,0.8);
    color: white;
    padding: 0.5rem;
    width: 60%;
}
.jumbotron{
    background-color: rgba(255, 195, 0, 0.8);
}
.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}
.title-brazil{
    color: #581845;
    margin-top: 2rem;
}
.text-brazil{
    color: #900C3F;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

/* card2 */

.img-square-wrapper{
    margin-top: 1rem;
    margin-left: 1rem;
}
.img-square-wrapper:hover{
	transform: scale(1.1);
}
.card-footer i {
    margin-left: 0.5rem;
}
.card-group{
    margin-left: 1rem;
}
.card-body1{
    margin: 0;
}
.form-body{
    padding: 1rem;
} 
.card-text2{
    font-size: 18px;
}
.button{
    text-align: right;
}
.footer-body{
    margin-left: 1rem;
}
.carousel-control-prev,
.carousel-control-next{
    bottom: 40%;
}